/* https://github.com/poole/hyde/pull/90/files */
.sidebar a {
    padding: 5px 0;
}

/* poole makes img display: block, but we have some img.shield.io badges */
a img {
  display: inline;
  margin: 0px;
}

/* Stop sidebar on mobile being so god damn massive */
.sidebar {
  padding 0.5rem 1rem;
}
.sidebar-about p.lead {
  display: none;
}
.sidebar .sidebar-nav-item {
  display: inline;
}
.sidebar-nav {
  margin-bottom: 0px;
}

@media (min-width: 48em) {
  .sidebar {
    padding 2rem 1rem;
  }
  .sidebar-about p.lead {
    display: block;
  }
  .sidebar .sidebar-nav-item {
    display: block;
  }
  .sidebar-nav {
    margin-bottom: 1rem;
  }
}
