/* https://github.com/poole/hyde/pull/90/files */
.sidebar a {
    padding: 5px 0;
}

/* Stop sidebar on mobile being so god damn massive */
.sidebar-nav-item {
  display: inline;
}

@media (min-width: 48em) {
  .sidebar .sidebar-nav-external {
    display: block;
  }
}
